body {
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}h1 {	color: #00000f;	font-family: arial black;	font-size: 23px;	font-wieght: bolder;}p {	color: black;	font-size: 15px;	font-family: verdana;}
h2 {	font-family: arial;	font-size: 19px;	font-wieght: bold;}ul {	color: #000909;	font-family: arial;	font-size: 15px;}
.ad {
  padding-bottom: 16px;
  border-bottom: 3px solid #070302;
  color: #070302
}


.paskagetextdownload {
  margin-bottom: 30px;
  font-size: 14px;
  font-family: "comic sans ms", serif;
  color: #181513;
}
.robininfotext {
	font-size: 13px;
	font-family: "calibri";
	font-weight: bolder;
	font-style: italic;
}

